<% available_books = physical_books.where(available: true) %>
<% sum = available_books.size %>


<div class="info-list-results">

  <% if available_books.exists? %>
  <% available_books.group_by {|b| b.bookstore }.each do |bookstore, bookstore_books|%>
    <% bookstore_books.each do |physical_book| %>
    <hr>
      <div class = "physical-book-bookstore">
        <p>
         <strong><%= bookstore.name %></strong>
        </p>
        <p>
          <%= bookstore.address %>
        </p>
        <p>
          <%= physical_book.condition %>
        </p>
        <div class="price-basket d-flex">
          <p>
            <strong>£<%= physical_book.stripe_price %></strong>
          </p>
          <div>
            <%= button_to physical_book_basket_items_path(physical_book), class:"basket-button", method: :post do %>
              Add to basket
            <% end %>
          </div>
        </div>
    </div>
    <% end %>
    <% end %>
  <% else %>
    <p>There are no books...</p>
  <% end %>
</div>
