<% available_books = physical_books.where(available: true) %>
<% sum = available_books.size %>


<div class="info-list-results">
  <h2 class = "physical-book-bookstore mt-3"><em>There are <%= sum %> copies of <%= book.title %> near you</em></h2>

  <% if available_books.exists? %>
    <h3 class = "physical-book-bookstore"> Bookstores that have this copy</h3>
    <% available_books.each do |physical_book| %>
    <hr>
      <div class = "physical-book-bookstore">
        <p class="bookstore-name">
        <strong><%= physical_book.bookstore.name %></strong>
        </p>
        <p>
        <%= physical_book.bookstore.address %>
        </p>
        <div class="d-flex">
        <p>
        <strong>£<%= physical_book.price %></strong>
        </p>
        <div style="width:20px"></div>
        <%= button_to physical_book_basket_items_path(physical_book), method: :post do %><i class="basket fa-solid fa-cart-shopping"></i>
          <%# Add to basket %>
        <% end %>
        </div>
    </div>
    <hr>
    <% end %>
  <% else %>
    <p>There are no books...</p>
<% end %>
</div>
