
<h1> Bookstores that have this copy</h1>



  <% @physical_books.each do |physical_book| %>
  <li>
    <%= physical_book.book.title %>
    <%= physical_book.price %>
    <%= physical_book.bookstore.name %>

    <%= link_to "Add #{physical_book.book.title} to cart", physical_book_basket_items_path(physical_book), method: :post %>

    <%= link_to "Remove item", basket_item_path(basket_item), method: :delete %>
    <% end %>


  </li>
