<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <div class="d-flex align-items-center navbar-brand">
      <%= image_tag "night_logo.png" %>
      <h3 class="brand-title">  SAHARA</h3>
    </div>
  <% end %>


<% if current_page?(root_path) %>

  <% else  %>
    <div class="nav-item">
      <%= form_with url: books_path, method: :get, class: "rounded d-flex input-group", id:"bigbar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-bar",
          placeholder: "Search for a book..."
        %>
        <%= button_tag(type: "submit", class: "btn btn-outline-warning", id:"button-search") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        <% end %>
    </div>
  <% end %>

  <%# <button class="navbar-  toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <div class="dropdown basket-parent">
            <button class="btn btn-warning dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false" id="button-drop">
            <i class="fa fa-shopping-cart"></i>
            (<%= @current_cart.basket_items.count %>)
            </button>

            <%= render "/carts/dropdown_basket", cart: @current_cart %>


          </div>
        </li>
        <li class="nav-item dropdown user-image">
          <%= image_tag "aaaron.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
           <%= link_to "Your orders", orders_path, class: "dropdown-item" %>
            <%# <%= link_to "Bookstores", bookstores_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
