<div class="book-container2">
    <div class="book-image-group2">
      <img class="book-image2" src="https://149352626.v2.pressablecdn.com/wp-content/uploads/2018/02/CK-3-684x1024.jpg" alt="placeholder" >
    </div>
    <div class="info-and-price2">
      <div class="book-info-group-left2">
        <br>
        <h3><%=@book.title%></h3>
        <br>
        <h5><strong>Author: </strong><%=@book.author%></h5>
        <h5><strong>Genre: </strong><%=@book.genre%></h5>
        <h5><strong>Year: </strong><%=@book.year%></h5>
        <h5><strong>Condition: </strong><%=@book.condition%></h5>
        <br>
        <h6><a class="btn info-btn-flat" href="#">Find local Bookstore</a></h6>
      </div>

    </div>
  </div>
<div class="book-container3">
</div>
