<div class="book-container">
  <div class="book-image-group">
    <img class="book-image" src="https://149352626.v2.pressablecdn.com/wp-content/uploads/2018/02/CK-3-684x1024.jpg" alt="placeholder" >
  </div>
  <div class="book-info-group">
    <p><%= book.title %>Title</p>
    <p><%= book.author %>Author</p>
    <p><%= book.year %>Year</p>
    <p><%= book.genre %>Genre</p>
    <p><%= book.condition %>Condition</p>
  </div>
</div>
