<div class="d-flex">
    <div class="card">
      <div class="image">
        <% if @book.photo.key %>
          <%= image_tag(@book.photo, class: "book-image2")%>
        <% else%>
          <img src="https://149352626.v2.pressablecdn.com/wp-content/uploads/2018/02/CK-3-684x1024.jpg" alt="book" width="600 px">
        <%end%>
      </div>
      <div class="details">
        <div class="center">
          <h3 id="book-info-group-title"><%=@book.title%></h3>
          <div class="<info-book>">
            <h5><i class="fa-solid fa-circle-user"></i><%=@book.author%></h5>
            <h5><i class="fa-solid fa-book"></i><%=@book.genre%></h5>
            <h5><i class="fa-regular fa-calendar"></i><%=@book.year%></h5>
          </div>
        </div>
      </div>
    </div>
</div>
