<div class="book-filters" data-controller="potato" >
  <div class="filter-options">
    <div class="filter-headers">
      <h4>Filter by</h4>
      <p><%= link_to "Reset", books_path(query: params[:query]) %></p>
    </div>
    <hr>

    <div class="filter-title" data-action="click->potato#revealGenres">
      <i class="fa-solid fa-caret-right" data-potato-target="genrecaret"></i>
      <h5>Genre</h5>
    </div>
    <div class="sub-option-container d-none" data-potato-target="genres">
      <p><%= link_to "Adventure", request.params.merge(genre: "adventure") %></p>
      <p><%= link_to "Childrens", request.params.merge(genre: "childrens") %></p>
      <p><%= link_to "Classic", request.params.merge(genre: "classic") %></p>
      <p><%= link_to "Crime", request.params.merge(genre: "crime") %></p>
      <p><%= link_to "Fantasy", request.params.merge(genre: "fantasy") %></p>
      <p><%= link_to "Fiction", request.params.merge(genre: "fiction") %></p>
      <p><%= link_to "Horror", request.params.merge(genre: "horror") %></p>
      <p><%= link_to "Non-fiction", request.params.merge(genre: "non-fiction") %></p>
      <p><%= link_to "Science Fiction", request.params.merge(genre: "science fiction") %></p>
      <p><%= link_to "Graphic Novel", request.params.merge(genre: "Graphic Novel") %></p>
      <p><%= link_to "Epic Novel", request.params.merge(genre: "Epic Novel") %></p>
      <p><%= link_to "Romance", request.params.merge(genre: "Romance") %></p>
    </div>
  <hr>

  <div class="filter-title" data-action="click->potato#revealYear">
    <i class="fa-solid fa-caret-right" data-potato-target="yearcaret"></i>
    <h5>Year</h5>
  </div>
  <div data-potato-target="year" class="sub-option-container d-none">
    <form action="<%= request.url %>" method="GET" id ="year-container" data-controller="filter-date" data-action="submit->filter-date#applyFilter">
      <p>From: </p>
      <input class="input-year" data-filter-date-target="from" name="from" type="number" min="-400" max="2022" step="1" value="<%= params[:from] ? params[:from] : 1850%>"/>
      <p> to </p>
      <input class="input-year" data-filter-date-target="to" name="to" type="number" min="-400" max="2022" step="1" value="<%= params[:to] ? params[:to] : 2000%>"/>
      <input type="submit" value="Go">
    </form>
  </div>
  <hr>

</div>
