<div class="book-container">
    <div class="book-image-group">
      <img class="book-image" src="https://149352626.v2.pressablecdn.com/wp-content/uploads/2018/02/CK-3-684x1024.jpg" alt="placeholder" >
    </div>
    <div class="info-and-price">
      <div class="book-info-group-left">
        <p><%=@book.title%></p>
        <p><%=@book.author%></p>
        <p><%=@book.genre%></p>
        <p><%=@book.year%></p>
        <p><%=@book.condition%></p>
      </div>
      <div class="book-info-group-right">
        <h4>£8.99</h4>
      </div>
    </div>
  </div>
