
  <div class="dropdown-menu" id="basket-box">
      <% cart.basket_items.each do |basket_item| %>
        <div class="basket-item">
          <div class="remove-button">
            <%= link_to "X", basket_item_path(basket_item), data: { "turbo-method": :delete }, id:"no-no-bootstrap" %>
          </div>
          <div class="d-flex">
            <p><%= basket_item.physical_book.book.title %></p>
            <p>£<%= basket_item.physical_book.price %></p>
          </div>
        </div>
      <hr>
  <% end %>
</div>
<div class="d-flex m-2">
  <%= button_to "Continue Shopping", books_path, method: :get, class: 'btn btn-success' %>
  <%= button_to "Go to Checkout", cart_path(@current_cart), method: :get, class: 'btn btn-warning' %>
</div>
