<ul>
  <% @cart.basket_items.each do |basket_item| %>
    <li>Item: <%= basket_item.physical_book.book.title %>/ Price: <%= number_to_currency(basket_item.physical_book.price) %>
    <ul>
      <li>
        <%= link_to "Remove Item", basket_item_path(basket_item), data: { "turbo-method": :delete } %>
      </li>
    </ul>
  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>


<%= link_to "Proceed to checkout", new_order_path %>
<br>
<%= link_to "Empty cart", cart_path(@current_cart), method: :delete, data: {confirm: "Are you sure?"} %>


